body {
    background: url('./image/index/index.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.moving {
    position: absolute;
    left: 50%;
    margin-left: -240px;
    top: 50%;
    margin-top: -265px;
}

.moving .text {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 20px;
    font-family: "AppleSDGothicNeo";
    font-weight: 900;
    letter-spacing: -0.5px;
    text-align: center;
    margin-left:212px;

    transition: .3s;
    background-position: top left;
    background-image: url(./image/wave.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.moving .text:hover {
    transition: .6s .1s;
    background-position: bottom right;
}

.moving .text:hover:before {
    transition: .3s;
    transform: translateY(-100%) scaleY(0);
    opacity: 0;
}