#topmenu ul {
    width: 755px;
    margin-left:auto;
    margin-right:auto;
}

#topmenu .ulFixed {
    position: fixed;
    margin-top: -145px;
    left: 50%;
    margin-left: -377.5px;
}

#topmenu li {
    list-style: none;
    float: left;
    vertical-align: middle;
    text-align: center;
}

#topmenu .menuLink {
    transition: .3s;
    background-position: top left;
    background-image: url(./image/wave.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    white-space: nowrap;

    text-decoration: none;
    color: #000;
    display: block;
    height: 24px;
    font-size: 20px;
    font-family: "AppleSDGothicNeo";
    font-weight: 900;
    letter-spacing: -0.5px;
    width:131px;
    text-align: center;   
}

#topmenu .menuLink:hover {
    transition: .6s .1s;
    background-position: bottom right;

}

#topmenu .menuLink:hover:before {
    transition: .3s;
    transform: translateY(-100%) scaleY(0);
    opacity: 0;
}

#topmenu .introduceTeam {

    transition: .3s;
    background-position: top left;
    background-image: url(./image/wave.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    white-space: nowrap;

    text-decoration: none;
    color: #000;
    display: block;
    width: 80px;
    height: 24px;
    font-size: 20px;
    font-family: "AppleSDGothicNeo";
    font-weight: 900;
    letter-spacing: -0.5px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;   
}

#topmenu .introduceTeam:hover {
    transition: .6s .1s;
    background-position: bottom right;

}

#topmenu .introduceTeam:hover:before {
    transition: .3s;
    transform: translateY(-100%) scaleY(0);
    opacity: 0;
}




#topmenu .topmenuImg {
    width: 50px;
    height: 50px;
    margin : 0px 25px 0px 25px;
}

#topmenu .topmenuLogo {

    height: 50px;
    margin : 0px 352.5px 0px 352.5px;
}


#LOGO {
    text-align: center;
    margin: 60.5px 0px 51.5px 0px;
    padding-left: 5px;
}

#Modul {
    width: 755px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 0px;
}