html {
    cursor: url(http://drive.google.com/uc?export=view&id=10JPMQwh9f8wHi1lEOTe9ZwEMoUeNH3Vw), progress;
}

.layout {
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
}

.image {
    width: 70%;
    margin-right: 2%;
    float: left;
}

.image img {
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4%;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 영상 비율 16:9 아닌 작품들 따로 지정해줌 */
/* 60번 */
.video_60 {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4%;
}

.video_60 iframe,
.video_60 object,
.video_60 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 65번 */
.video_65 {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4%;
}

.video_65 iframe,
.video_65 object,
.video_65 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 67번 */
.video_67 {
    position: relative;
    padding-bottom: 69%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4%;
}

.video_67 iframe,
.video_67 object,
.video_67 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 맨 마지막 이미지 마진값 변경해줌 */
.image img:nth-last-child(1) {
    margin-bottom: 7%;
}

.explain {
    width:26%;
    right: 2.5%;
    margin-right: 2%;

    /* 스크롤 내려도 설명 따라다니게 */
    position: fixed;
}

/* 작품카테고리 */
.category {
    color: #FC4C00;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
}

/* 작품제목 */
.title {
    color: #00239C;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 3px;
}

/* 이름 */
.name {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 15px;
}

/* 작품설명 */
.script {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

/* X아이콘 위치 지정 */
#xicon {
    position: fixed;
    right: 2%;
    top: 1.5%;
}

#xicon:hover {
    cursor: url(http://drive.google.com/uc?export=view&id=1j7GcifYAIPJkNyAtbGkpngIhYxuo6XuX), progress;
}